@import url(cols.css);
@import url(rows.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
    background-color: #f0bf4c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    position: relative;
    top: calc(50vh - 16rem);
    width: 121.12rem;
    height: 32rem;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 3.5rem;   
}

.button {
    position: relative;
    top: calc(25vh - 16rem);
}

button {
    background-color: black;
    padding: 0.5rem;
    border-radius: 7%;
    font-size: 1rem;
    font-weight: 700;
    color: #f0bf4c;
    cursor: pointer;
}

h1 {
    margin-left: 0.6rem;
    display: none;
    text-align: center;
    font-size: 0.33rem;
    font-weight: 500;
    color: #f0bf4c;
}

a {
    display: none;
    margin-left: 0.6rem;
    margin-top: 0.2rem;
    padding: 0.02rem;
    border-radius: 10%;
    text-align: center;
    font-size: 0.15rem;
    font-weight: 500;
    color: #f0bf4c;
    transition: color 1.5s ease;
}

a:hover {
    color: red;
}